@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: slategrey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    
}


h1{
    text-align: center;
    font-weight: 100;
    font-size: 2.5em;
    padding: .5em 0 0;
    
}


@-webkit-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-moz-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-ms-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}
@-o-keyframes colorshift {
	0%   { color: #FFEBD6; }
	25%  { color: #F5EBFF; }
	50%  { color: #D6EBFF; }
	75%  { color: #D6FFEB; }
	100%  { color: #FFEBD6; }
}

@-webkit-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}
@-moz-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}
@-ms-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color:#FFEBD6; }
}
@-o-keyframes colorshift {
	0%   { background-color: #FFEBD6; }
	25%  { background-color: #F5EBFF; }
	50%  { background-color: #D6EBFF; }
	75%  { background-color: #D6FFEB; }
	100%  { background-color: #FFEBD6; }
}

.bg{
    background-color:  color: #FFEBD6;
	-webkit-animation: colorshift 10s infinite;
	-moz-animation:    colorshift 10s infinite;
 	-ms-animation:     colorshift 10s infinite;
 	-o-animation:      colorshift 10s infinite;
    overflow: hidden;
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.4)
}


.topbar{
    display: block;   
    height: 75px;
    background-color: pink;
    overflow: hidden;
    
    
}


.title {
    margin: 1em .5em .75em;
    text-align: center;
    font-weight: 100;
    font-size: 3.5em;
    line-height: 1.25em;
}


.subhead {
   margin: 0 15% 0;
    font-weight: 200;
}


.ham-btn{
    float: right; 
    margin: 3em 5% 0 0;
    border-radius: 0px;
    border: 
    
    
}


.panel{
    width: 100vh;
    display: none;
    

}

.arrow{
    width: 60px;
    transform: rotate(270deg);
    margin: 0 auto 0;
    align-content: center;    
}





.load-page{    
    height: 100vh;
    position: relative;

}



.down{
    position: absolute;
    bottom: 40px;
    left: 40%;
    margin: 0 auto 0;

    
}




.about-page{
    border: 1px solid orange;
    height: 100vh;
}





.skills-page{
    border: 1px solid blue;
    height: 100%;
}

.skills-chart{
    width: 90%;
    height: 350px;
    border: 1px solid grey;
    margin: 0 auto 0;
   
}

.skills-cap{
    font-size: .75em;   
    font-weight: 100;
    text-align: center;
    color:grey;
    
    
}

.skills-header{
    text-align: center;
    font-weight: 100;
    margin: 1em auto 2em;
    text-decoration: underline;
}

.skills-list{
    font-weight: 100;
    font-size: .75em;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    position: relative;
}


.skills-list li{
    margin:1em 5% 0 1em;   
}

.dot1{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: orange;
    position: absolute;
    left:30%;
    top:-2%;
 
}

.dot2{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: blue;
    position: absolute;
    left:50%;
    top:-2%;
 
}

.dot3{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: pink;
    position: absolute;
    left: 70%;
    top:35px;
 
}


.dot4{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: purple;
    position: absolute;
    left: 90%;
    top:35px;
 
}



.dot5{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: orange;
    position: absolute;
    left:30%;
    top:-2%;
 
}

.dot6{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: blue;
    position: absolute;
    left:50%;
    top:-2%;
 
}

.dot7{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: pink;
    position: absolute;
    left: 70%;
    top:-2%;
 
}


.dot8{
    height: 15px;
    width: 15px;
    border-radius: 300px;
    background-color: purple;
    position: absolute;
    left: 90%;
    top:35px;
 
}




.icon{
    width: 20%;
    height: 20%;
    margin: 0 auto 0;
    display: inline-block;    
}





.work-page{
    border: 1px solid yellow;
    height: 100%;
}

.project-list{
    list-style-type: none;
    padding: 0;   
    
    
}

.project1{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project1:hover > .project-desc{
    display: block;
}

.project1:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}




.project2{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/robot.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}


.project-desc{
    display: none;   
    
}

.project2:hover > .project-desc{
    display: block;
}


.project2:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}


.project3{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/jack.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}


.project-desc{
    display: none;   
    
}

.project3:hover > .project-desc{
    display: block;
}


.project3:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}


.project4{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project4:hover > .project-desc{
    display: block;
}

.project4:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}




.project5{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project5:hover > .project-desc{
    display: block;
}

.project5:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.project6{
    border: 1px solid blue;
    width: 100%;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project6:hover > .project-desc{
    display: block;
}

.project6:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}




.project-name{
    position: absolute;
    top: 40%;
    left:25%;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 0;
    color: white;
    font-weight: 100;
    font-size: 1.5em;
 
}

.see-more{
    position: absolute;
    top: 55%;
    left: 40%;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    color: white;
    background-color: grey;
    margin: 0;
    
}   


.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;

}






.contact-page{
    border: 1px solid red;
    height: 100vh;
}

footer{
    
    border: 1px solid black;
    height: 150px;
   
    
    
}
@media only screen and (min-width: 30em){

}

@media only screen and (min-width: 38em) {
    
    
}


@media only screen and (min-width: 50em) {

    
}

@media only screen and (min-width: 60em) {

        
    }

    
@media only screen and (min-width: 70em) {
 
        
    }
    
}





