@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
   font-family: 'Didact Gothic', sans-serif;
    color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;   
}

/* Nav */

.trenches-top{
    text-transform: uppercase;
    font-weight: 500;
    margin: 5% 5% 0; 
    font-size: 1.25em;
    color: black;

}

.x{
    display: none; 
    margin: .5em 2% .5em;
}


.ham{
    height: 50px;
    width: 50px;
    float: right;
    margin: .5em 2% .5em;
}

.nav {
	display: none;
}

.nav ul{
    text-align: center;  
    padding: 30% 0 0;
  font-size: 1.5em;
}

.nav ul li{
   text-decoration: none;
    text-transform: uppercase;
        margin: 1em auto 0;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    text-decoration: line-through; 
}



/* This selected targets the `.nav` only when the checkbox is checked */
.nav-check:checked ~ .nav{
	display: block;
    height: 100vh;
    background-color: rgba(255,255,255,.95);
     
}

.nav-check:checked ~ .nav-label .ham{
	display: none;
}

.nav-check:checked ~ .nav-label .x{
	display: block;
    float: right;
    height: 50px;
    width: 50px;
}

.nav-check {
	/* Put the checkbox off the top of the screen */
	position: absolute;
	top: -3em;
}


.desktop-nav{
    display: none; 
}

.desktop-nav ul li.middle {
 display:none;
}




.panel{
    float: right;   
    height: 100vh;
    background-color: white;
    width: 100%;
    display: none;
}

.top-nav{
    float: right;      
}

.panel ul{
    list-style-type: none;
    margin: 50% auto 0;
    text-align: center;
   
    padding: 0;
}



.panel ul li:hover{
    text-decoration: line-through;  
}

.panel ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;   
}


.banner{

    height: 75px;
    width:100%;
    background-color:white;
    position: fixed;
    z-index: 1;
    display: inline-block;
    border-bottom: 3px solid #FFE0E0 ;
    
}



.header{
    font-weight: 300;
    font-size: 3em;
    
}

.container{
    margin: 1em 10% 1em;   
    
    
}

.headers{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}


.top-logo{
    float: left;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 2%;
    top: 5px;

}

.small-trenches-logo{
    width: 120%;
    height: 120%;
    margin: 0;
}




/* Cover page */ 

.cover-page{
    height: 100vh;   
    width: 100%;

}

.syd-logo{
    margin: 100px auto 0;
    width: 100%;
    height: 175px;
}

.logo{
    margin: 0 auto 0;

    
}

.billboard {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0 10% 0;
    background-color: grey;
    position: relative;
     box-shadow: inset 0 0 0 1000px rgba(255,224,224,.8);
    color: black;
}

.billboard:hover{
        box-shadow: inset 0 0 0 1000px rgba(255,224,224,.6);
       
    
}

.billboard h1{
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin: .5em 0 0;
}

.design-time{
    margin: .5em 0 2em;
    text-align: center;
    font-size: .75em;
    
}

.word-container{
    margin: 0 10% 0;
    height: 100vh;
    
}



.arrow{
    width: 100%;
    height: 25px;
    margin: 0 auto 0;
}

.down{
   
}


.placeholder-push{
    height: 75px;
    width: 100%;
    color: white;
}






yellow{
    color: indianred;
    font-weight: 400;
    text-transform: uppercase;
}


.services-button{
    text-align: center;
    width: 100%;

}


.services-button a,
.services-button a:link,
.services-button a:visited{
    color:white;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid white;
    padding: .5em 5% .5em;

}
    
.services-button a:hover{
    background-color: indianred;
    border: 1px solid white;
    color: black;
}


/* ABOUT page */

.about-page{
    height: 100%;  
    width: 100%;
}

.me{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/syd-logo.svg);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    display: block;
}


.syd-photo{
    border: 1px solid grey;
    width: 100%;
    max-height: 50%;
    height: 20%;
    margin: 1em auto 0;
}



/* Works page */

.jump-space-wrap{
    position: relative;
}

.jump-spacer{
    
    position: absolute;
    top: -75px;
}

.work-page{
    margin: 0;  
    height: 100%;
    width: 100%;

    
}

.work-section{
    list-style-type: none;
    padding: 0;    
}

.work-section li{
    margin: 0 auto 0;   
}

.work{
    
    height: 300px;
    width: 300px;
    margin: 0 auto 0;
    border: 1px solid black;
    list-style-type: none;
    text-decoration: none;
    margin: 1em auto 1em;
}


.work-page{
    height: 100%;
}

.project1{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/cara.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project1:hover > .project-desc{
    display: block;
}

.project1:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}




.project2{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/wtf.jpg);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}


.project-desc{
    display: none;   
    
}

.project2:hover > .project-desc{
    display: block;
}


.project2:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}


.project3{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/donut.gif);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    
}


.project-desc{
    display: none;   
    
}

.project3:hover > .project-desc{
    display: block;
}

.project3:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}


.project4{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/ikea.jpg);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project4:hover > .project-desc{
    display: block;
}

.project4:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}




.project5{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/blood.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project5:hover > .project-desc{
    display: block;
}

.project5:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}

.project6{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project6:hover > .project-desc{
    display: block;
}

.project6:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,224,224,.4);
}

.project-name{
    position: absolute;
    top: 50%;
    left:20%;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 0;
    color: black;
    font-weight: 100;
    font-size: 2.5em;
    transform-origin: center;
    position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
 
}








/* contact */
.contact-page{
    width: 100%;
    height: 100%;
    position: relative;
}

hr{
    border: solid 10px #FFE0E0;
}

fieldset{
    font-size: 2rem;
    margin: 0 auto 0;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    border-style: none;
    padding: 0;
}

label{
    display:block;
    font-size: 1.5rem;
}

.message {
 height: 275px;   
}

input, 
textarea,
select{
 font-size: 1.5rem;
    height: 75px;
}

input,
select{
 width: 100%   
}

.radio {
    border-style: none;
    padding: 0;
}

.radiospan {
    white-space: nowrap;
}

.radiospan label,
.radiospan input{
    display:inline-block;
}

.radiospan input{
    margin-right:0;
    padding-right: 0;
    width: 5%;
}

.radiospan label{
    margin-left:0;
    padding-left: 0;
}

form div{
    padding-bottom: 1rem;   
}

.send-message{
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: block;
    border: 3px solid #a00;
    padding:1rem 0 1rem;
    width: 100%;
    font-size:1.5rem;
    text-transform: capitalize;
    color:black;
    background-color: white;
    overflow: hidden;
    cursor:pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.send-message{
    color:black;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid black;
    padding: .5em 5% .5em;
   
    
    
}

button:hover{
    background-color: #FFE0E0;
    border: 1px solid black;
    color: black;

}
.formpad{
    margin:0 auto 0;   
}      


/* footer */
.footer{
    background-color: #FFE0E0;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}




/* media queeries */

@media only screen and (min-width: 30em){

}

@media only screen and (min-width: 40em) {
    
    .word-container{
           margin: 0 15% 0;    
    }
    
    .mobile-logo{
        display: none;
    }
    
    .top-nav{
        display:none;   
    }
    
    .desktop-nav{
        text-transform: uppercase;
        font-size: .75;
        padding: 0;
        overflow: hidden;
        display: block;
        border-bottom: 3px solid #FFE0E0;
    
}

.desktop-nav ul{ 
        padding: 0 2% 0;
        list-style-type: none;
        float: right;
        text-align: center;
        overflow: hidden;
        font-family: Helvetica, arial, sans-serif;
    
}

.desktop-nav ul li:first-child{
    margin:0;   
}

.desktop-nav ul li{
    width: 5em;
    padding: 45px 0 0;
    margin: 0;
    font-weight: 100;
    display: inline-block;
}

.desktop-nav ul li a {
    color: #8b8b8b;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
    text-decoration: none;
    display: block;
}
    
    .desktop-nav ul li a:hover {
        text-decoration: line-through;
    }        

.desktop-nav ul li.middle{
    padding: 45px 0 0;
    display: block;
}
    
    .banner {
        display: none;   
    }
    
        
     .form-pad{    
        margin: 0 0;   
         float: left;
    }
    
    .billboard{
        height: 100vh;   
        
    }
    
    .syd-photo-container{
    margin: 0 auto 0; 
    padding: 0 5% 0;
}

.about-container{
    padding: 0 5% 0;   
    
}
    
    
    
}


@media only screen and (min-width: 50em) {
    
      .word-container{
           margin: 0 20% 0;    
    }
    
     .form-pad{
        
        margin: 0 15% 0;   
        
    }
    
    

    
}

@media only screen and (min-width: 60em) {
    
      .word-container{
           margin: 0 25% 0;    
    }
    

      

        
    }

    
@media only screen and (min-width: 70em) {
 
        
    }
    
}

