@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: slategrey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    padding:0;

    
}



/* Nav */



.banner{
    
    height: 75px;
    width:100%;
    background-color:white;
    position: fixed;
    z-index: 1;
    
    
}

.header{
    font-weight: 300;
    font-size: 3em;
    
}

.container{
    margin: 1em 10% 1em;   
    
    
}

.headers{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    
}



/* Cover page */ 

.cover-page{
    height: 100%;   
    width: 100%;
    border: 1px solid black;
}

.syd-logo{
    width: 100%;
    height: 100px;
    margin: 150px 0 0;
}

.logo{
    margin: 5em auto 0;   
    
}

.billboard {
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
    height: 100vh;
    width: 100%;
    padding: 0 10% 0;
    background-color: black;
}

.word-container{
    
    
    
}



.arrow{
    width: 60px;
    transform: rotate(270deg);
}

.down{
     position: absolute;
    bottom: 40px;
    left: 40%;
    margin: 0 auto 0;

}


.placeholder push{
    height: 75px;
    width: 100%;
    color: white;
}


.billboard h1{
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: .5em 0 1em;
}

.billboard h3{
    font-weight: 100;
    line-height: 1.5rem;   
}

yellow{
    color:#ffd100
}


.services-button{
    text-align: center;
    width: 100%;

}


.services-button a,
.services-button a:link,
.services-button a:visited{
    color:white;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid white;
    padding: .5em 5% .5em;

}
    
.services-button a:hover{
    background-color: #ffd100;
    border: 1px solid white;
    color: black;
}






/* Works page */

.work-page{
    margin: 0;  
    height: 100%;
    width: 100%;
    border: 1px solid purple;
    
}

.work-section{
    list-style-type: none;
    padding: 0;    
}

.work-section li{
    margin: 0 auto 0;   
}

.work{
    
    height: 300px;
    width: 300px;
    margin: 0 auto 0;
    border: 1px solid black;
    list-style-type: none;
    text-decoration: none;
    margin: 1em auto 1em;
}


.work-page{
    border: 1px solid yellow;
    height: 100%;
}

.project-list{
    list-style-type: none;
    padding: 0;   
    
    
}

.project1{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project1:hover > .project-desc{
    display: block;
}

.project1:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}




.project2{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/robot.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}


.project-desc{
    display: none;   
    
}

.project2:hover > .project-desc{
    display: block;
}


.project2:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}


.project3{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1em auto 0;
    background-image:url(../images/jack.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}


.project-desc{
    display: none;   
    
}

.project3:hover > .project-desc{
    display: block;
}

.project3:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}


.project4{
    border: 1px solid grey;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/ikea.jpg);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project4:hover > .project-desc{
    display: block;
}

.project4:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}




.project5{
    border: 1px solid blue;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/blood.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project5:hover > .project-desc{
    display: block;
}

.project5:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}

.project6{
    border: 1px solid blue;
    width: 300px;
    height: 300px;
    margin: 1.5em auto 0;
    background-image:url(../images/bottle.png);
    background-size: cover;
    background-position: 10px 10px 10px 10px;
    position: relative;
    display: block;
    
}

.project-desc{
    display: none;       
}

.project6:hover > .project-desc{
    display: block;
}

.project6:hover{
    box-shadow: inset 0 0 0 1000px rgba(255,209,0,.4);
}

.project-name{
    position: absolute;
    top: 50%;
    left:20%;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 0;
    color: black;
    font-weight: 100;
    font-size: 1.5em;
 
}




/* contact */
.contact-page{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}




fieldset{
    border-color: #a00;   
}

hr{
    border: solid 15px #a00000;
}

fieldset{
    font-size: 2rem;
    margin: 0 auto 0;
    width: 100%;
}

label{
    display:block;
    font-size: 1.5rem;
}

.message {
 height: 300px;   
}

input, 
textarea,
select{
 font-size: 1.5rem;
    height: 75px;
}

input,
select{
 width: 100%   
}

.radio {
    border-style: none;
    padding: 0;
}

.radiospan {
    white-space: nowrap;
}

.radiospan label,
.radiospan input{
    display:inline-block;
}

.radiospan input{
    margin-right:0;
    padding-right: 0;
    width: 5%;
}

.radiospan label{
    margin-left:0;
    padding-left: 0;
}

form div{
    padding-bottom: 1rem;   
}

.send-message{
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: block;
    border: 3px solid #a00;
    padding:1rem 0 1rem;
    width: 100%;
    font-size:1.5rem;
    text-transform: capitalize;
    color:black;
    background-color: white;
    overflow: hidden;
    cursor:pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

button:hover{
    background-color: #A00;
    color:white;
    border: 3px solid black;

}
.formpad{
    margin:0 auto 0;   
}      


/* footer */
.footer{
    background-color: black;
    color: white;
    height: 100px;
    
    
}




/* media queeries */

@media only screen and (min-width: 30em){

}

@media only screen and (min-width: 40em) {
    

      
    
    .mobile-logo{
        display: none;
    }
    
    .panel{
        display: none;
    }
    
    .js-panel-open{
        display: none;
    }
    
    .top-nav{
        display:none;   
    }
    
    .desktop-nav{
    text-transform: uppercase;
    font-size: .75;
    padding: 0;
    overflow: hidden;
    display: block;
}

.desktop-nav ul{ 
    padding: 10px 20px 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    font-family: Helvetica, arial, sans-serif;
    
}

.desktop-nav ul li:first-child{
    margin:0;   
}

.desktop-nav ul li{
    width: 20%;
    padding: 45px 0 0;
    float: left;
    margin: 0;
    position: relative;
    letter-spacing: .25em;
    font-weight: 100;
}

.desktop-nav ul li a {
    color: #8b8b8b;
    cursor: pointer;
    outline: none;
    transition: all .3s linear;
    text-decoration: none;
    display: block;
}

.desktop-nav ul li.middle{
    padding: 45px 0 0;
    display: block;
}
    
}


@media only screen and (min-width: 50em) {
    

    
}

@media only screen and (min-width: 60em) {
    

      

        
    }

    
@media only screen and (min-width: 70em) {
 
        
    }
    
}

