<div class="about-page jump-spacer-wrap">
<div class="jump-spacer" id="about"></div>
        
        <div class="container">
            
           
            
            <div class="grid">
        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">    
        
        <div class="about-info"> 
         <h1>Syd.</h1> 
            
            <p>Currently based out of Ottawa, ON but not subjective to a location. Always moving and progressing, wherever that may be.</p>
        
        
        <p>A generalist designer who enjoys working on new projects in different aspects of design to keep my brain stimulated. An ideas person—as well as a follow through person with an unquenchable desire to learn. 
        </p>
            
            <p>
                When I'm not in front of a screen you can find me in a thrift store searching for potential or outside playing a sport I'm no good at just for the fun of it. Ask me to go sky-diving grey cssand we'll book a time for tomorrow. 
            
            </p>
            
            
        </div>
            
    </div>

        
         <div class="opacity grayscale unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">    
             
            <div class="about-work">
                <div class="scene-10-1 ">
                </div>
            
                <div class="scene-10-2">
                </div>
            
                <div class="scene-10-3">
                </div>
            
                <div class="scene-10-4">
                </div>
            </div>
             
             
         </div>
        
        
        
           
    </div>
        
</div>
</div>
        
    