<footer class="footer opacity jump-spacer-wrap">
    <div class="jump-spacer" id="contact"></div>
    
    <div class="grid">
    
        <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2"> 
        
            <div class="cright">
                <h1>Let's Chat.</h1>
                <h2 class="syddesign">Syd. Design</h2>
                <p>613.898.3255<br>
                contact@sydneyselch.ca</p>
            </div>
    
        </div>
    
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 unit-xl-1-2">
         
               
     <ul class="social-container">
          
          
        <a href="https://www.behance.net/sydneyselch" alt="behance">
        <li class="social opacity">
            <img src="images/socialicon-01.svg" class="social-icon">    
        </li>
        </a>
        
          <a href="https://www.linkedin.com/in/sydney-selch-23a938b5" alt="linkedin">
        <li class="social opacity">
            <img src="images/socialicon-02.svg" class="social-icon">    
        </li>
        </a> 
        
          <a href="https://www.instagram.com/sydneyselch/" alt="instagram">
        <li class="social opacity">
            <img src="images/socialicon-03.svg" class="social-icon">
        </li>
        </a>
         
        </ul>
              
  
        <p1 class="copyright">Syd. Design © 2015    </p1>
           
        </div>
    </div>
    
    
</footer>      
    