<div class="lightbox2" id="smoque">
     
    <a href="#work" class="lb-close">X</a>
        
        <ul class="lb-nav">
            <li>
                <a href="#izze" class="lb-back"><</a>
             </li>
            <li>
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li>
            <a href="#summertime" class="lb-next">></a>
            </li> 
        </ul>
    
            
    <div class="container">
        
    <div class="grid">
       <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque1.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque3.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque2.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque4.jpg" class="pic">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque5.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/smoque6.jpg" class="pic">
            </div>
        </div>
           
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="shoot-info">
            <h1>Smoque Shack Website</h1>
            <h2>Objective</h2>
            <p>
            Create a mobile responsive single-page web design for a local business. 
            </p>  
            
            
             <h2>Concept</h2>
            <p>
           The concept behind this design was to epitimize the feeling you get when you eat at the Smoque Shack. As well as paying caareful attention to the user experience of the site. 
            </p>  
            
              <p>
           I chose warm colours and textures paired with high quality photography taken from Smoque Shack customers. The brick header resembles the brick on the walls in the resturant. 
            </p>  
            
               <p>
        The phone number and address are on the first screen at the top making them easily accessible to customers searching for that. The testimonials are displayed on two single napkins but have a refresh button below each to toggle between reviews. 
            </p> 
             
             
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
  <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ps.svg" class="social-icon">
            <img src="images/icon-ai.svg" class="social-icon">
            <img src="images/icon-id.svg" class="social-icon">   
        </div>  
    </div>
                
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    