<div class="lightbox" id="izze">
      <a href="#work" class="lb-close pink">X</a>
        
        <ul class="lb-nav">
            <li class="pink">
                <a href="#iphone" class="lb-back"><</a>
             </li>
            <li class="pink">
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li class="pink">
            <a href="#smoque" class="lb-next">></a>
            </li> 
        </ul>
    
    
<div class="container">
        
    <div class="grid">
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/izze3.jpg" class="pic" alt="izze title page">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/izze5.jpg" class="pic" alt="izze bus stop">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bottle.jpg" class="pic" alt="izze exploding">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/izze1.jpg" class="pic" alt="izze exploding ad">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/iz2.jpg" class="pic" alt="izze cracking">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/iz3.jpg" class="pic" alt="izze falling">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/1-2.jpg" class="pic" alt="izze bursting ad">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/1-3.jpg" class="pic" alt="izze bus ad">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/izze2.jpg" class="pic" alt="izze before and after">
            </div>
        </div>
        
        
        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="grid">
          <div class="unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
            <div class="lb-pics">
                <img src="images/iz-sketch1.jpg" class="pic respond" alt="izze bursting ad">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
            <div class="lb-pics">
                <img src="images/iz-sketch2.jpg" class="pic respond" alt="izze bus ad">
            </div>
        </div>
            </div>
        </div>
    
        
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            <div class="proj-info">
                <h1>Izze Ad Campaign</h1>
            
                <h2>Objective</h2>
                    <p>
               Create a promotional campaign that foccusses on the natural ingredients in Izze. The campaign must contain three seperate images that relate to one another and must be used in a print application, outdoor application and web application. 
            
                    </p>  
            
                <h2>Concept</h2>
                    <p>
              The concept of this campaign was to target the secondary target audience, create a compelling design and focus on Izze's natural goodness. In order to target the 20 year old age demographic, I chose to create a highly Photoshopped and captivating design. The explosive and powerful design is complemented by the bold typography and contrasted with the white space for added focus on the design. 
                    </p>  
                </div>
        

            <div class="tools-buttons">    
                <h2>Tools Used</h2>
                <img src="images/icon-ps.svg" class="social-icon" alt="photoshop icon">
                <img src="images/icon-id.svg" class="social-icon" alt="indesign icon">   
            </div>         
        </div>
        
     </div>            
</div>
        {% include footer.html %}    
</div>