<div class="lightbox3" id="summertime">
  <a href="#work" class="lb-close pink">X</a>
        <ul class="lb-nav">
            <li class="pink">
                <a href="#smoque" class="lb-back"><</a>
             </li>
            <li class="pink">
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li class="pink">
            <a href="#blood" class="lb-next">></a>
            </li> 
        </ul>
            
    <div class="container">
        
    <div class="grid">
             <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/2-2.jpg" class="pic" alt="cone melting">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/summer-sketch.jpg" class="pic" alt="summertime sketch">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/2-3.jpg" class="pic" alt="summertime sweatshirt mockup">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/summer.jpg" class="pic" alt="no more icecream trolly">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/2-1.jpg" class="pic" alt="summertime on shirt">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/summersketch2.jpg" class="pic" alt="summertime sketch2">
            </div>
        </div>
       
<div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="shoot-info">
            <h1>Summertime Sadness T-Shirt Design</h1>
            <h2>Objective</h2>
            <p>
                Create a t-shirt design with Illustrator using spot colours, knockouts and screen plates. 
            
            </p>  
            
            
            <h2>Concept</h2>
            <p>
              The concept behind this t-shirt design was to create a design that was targetted at the 16-24 age demographic. The design is colourful and simplistic. It is cutesty, as well as a bit grunge-style due to the irony of the content. 
            
            </p>  
            
             <p>
             This was created in the month of September and was inspired by the cold weather approaching and summer melting away. 
            
            </p>  
            
              </div>
                
</div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
  <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ai.svg" class="social-icon" alt="illustrator icon">
            
        </div>  
    </div>
                
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    