<div class="lightbox8" id="vn">
    
  <a href="#work" class="lb-close">X</a>
        
        <ul class="lb-nav">
            <li>
                <a href="#animal" class="lb-back"><</a>
             </li>
            <li>
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li>
            <a href="#izze" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/vn-3.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/nasties-mockup.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/vn-1.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/nv-2.jpg" class="pic">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/vn-4.jpg" class="pic">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/vn-6.jpg" class="pic">
            </div>
        </div>
     
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="shoot-info">
         <h1>Video Nasties Type Layout</h1>
            <h2>Concept</h2>
            <p>
                The concept behind this design was to create a 3 second motion piece that would be made into a seemless looping gif for 9squares website.There was a choice of 4 colour pallettes.
            
            </p> 
             
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
 <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ps.svg" class="social-icon">  
            <img src="images/icon-id.svg" class="social-icon">  
        </div>  
    </div>
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    