<div class="lightbox6" id="ikea">
 
   <a href="#work" class="lb-close">X</a>
        
        <ul class="lb-nav">
            <li>
                <a href="#madbean" class="lb-back"><</a>
             </li>
            <li>
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li>
            <a href="#animal" class="lb-next">></a>
            </li> 
        </ul>
            
<div class="container">
        
    <div class="grid">
            <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/6-3.jpg" class="pic"  alt="ikea app in hand">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/6-4.jpg" class="pic"  alt="ikea four screens">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/ikea-3.jpg" class="pic"  alt="ikea video demo">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/ikea-app1.jpg" class="pic"  alt="ikea app in use">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/ikea-1.jpg" class="pic"  alt="ikea app first screen">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/6-2.jpg" class="pic"  alt="ikea app four screen build mode">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/ikea-sketch.jpg" class="pic"  alt="ikea app sketch">
            </div>
        </div>
     
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        <div class="shoot-info">
            <h1>Ikea App</h1>
                <h2>Objective</h2>
                <p>
       TO create an app that had not been yet created that will relieve pain points in daily life. 
                </p>
            
             <h2>Concept</h2>
                <p>
     The conept behind this app was to create an app that would aleviate common pain points when assembling ikea furniture. 
                    
                    The happ has multiple user experience features that will improve the assembly process. 
                    
                    On the start screen you have 3 options of how to view your product. The easiest method is to scan the barcode on the side of the box. Another option is to search the product within the categories and catalogue. 
                    
                    ONce you have found your product you now have all of the needed information to assemble it effectively. 
                    
                    On the start screen fo your product you have multiple views to help you. It shows a photograph of the final prouct as a diagram or sketch is sometimes unclear.
                    
                    
                Form there you can see the steps in a direction view and you can toggle down to the menu for more details and a link to a video displaying the step.If you dont want to follow along with the directions. you can watch a otion grpahics vdeo showing you step by step how yo assemble 
                </p>  
          
        </div>
                
     </div>
                        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
 <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ai.svg" class="social-icon">  
        </div>  
    </div>
                
                
    </div>
     </div>            
</div>
    
 {% include footer.html %}     
    
</div>