<div class="lightbox5" id="madbean">
     
     <a href="#work" class="lb-close pink">X</a>
        
        <ul class="lb-nav">
            <li class="pink">
                <a href="#blood" class="lb-back"><</a>
             </li>
            <li class="pink">
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li class="pink">
            <a href="#ikea" class="lb-next">></a>
            </li> 
        </ul>
            
    <div class="container">
        
    <div class="grid">
            <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/5-4.jpg" class="pic"  alt="mad bean chalkboard">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/5-3.jpg" class="pic"  alt="mad bean bag">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/mb-sketch2.jpg" class="pic"  alt="mad bean sketch ">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/5-2.jpg" class="pic"  alt="mad bean stamp">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/mb-sketch1.jpg" class="pic"  alt="mad bean sketch2">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/5-1.jpg" class="pic"  alt="mad bean orange cup">
            </div>
        </div>
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="shoot-info">
            <h1>Mad Bean Logo Design</h1>
            
            
             <h2>Objective</h2>
            <p>
              Rebrand the company by creating a logo design, brand colours and creating a brand guideline for the company to follow. 
            </p>  
            
            <h2>Concept</h2>
            <p>
                The concept to the companies logo and branding was based off of the companies exsisting branding and values. The old logo had a large swirl in the background but needed to be revamped in order to make it more reproduceable. The swirl stayed due to the companies unique and quirky manor that the swirl resembled. 
            
            </p>  
            
             <p>
               The goal of the logo and branding was to please their current creative clientel, as well as target the more corporate coffee market that was being missed. In order to target the corporate audience I decided to create a clean, simple but bold coffee cup that could be seen from a distance. The 1 spot colour cup is cheaper than a cup printed in CMYK and has twice the impact. 
            </p>  
            
             <p>
                The logo is stamped on a recycled paper bag in organic ink to maintain the fair trade, organic ethics to the company. 
            </p>  
             
             <h2>04/22/2014</h2>
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
 <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ps.svg" class="social-icon"  alt="photoshop icon">
            <img src="images/icon-ai.svg" class="social-icon"  alt="illustrator icon">  
        </div>  
    </div>
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    