<div class="lightbox6" id="blood">
       
  <a href="#work" class="lb-close pink">X</a>
        
        <ul class="lb-nav">
            <li class="pink">
                <a href="#summertime" class="lb-back"><</a>
             </li>
            <li class="pink">
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li class="pink">
            <a href="#madbean" class="lb-next">></a>
            </li> 
        </ul>
            
    <div class="container">
        
    <div class="grid">
             <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bd-art.jpg" class="pic"  alt="poster in glass frame">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/7-3.jpg" class="pic"  alt="poster black and white">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bd-1.jpg" class="pic"  alt="poster with colour spots">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bd-5.jpg" class="pic"  alt="poster on concrete">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bd-bus.jpg" class="pic"  alt="poster at bus stop">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/skullsketch.jpg" class="pic"  alt="blood diamond sketch">
            </div>
        </div>
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="shoot-info">
            <h1>Blood Diamond Movie Poster</h1>
            <h2>Objective</h2>
            <p>
            Create a movie poster that contains spot colours and varnishes.
            
            </p>  
            
            <h2>Concept</h2>
            <p>
               The concept behind this design was to create a more abstract poster design that resembles and symbolizes the feelings of the movie. I used scans from line art drawings in an old book, and paired them with blood splatters that drip into the shape of the map of Africa. 
            
            </p>  
            
             <p>
             This would be a great concept and design for the 10 year anniversary dvd that would be released in 2016. 
            </p>  
             
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
 <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ai.svg" class="social-icon" alt="illustrator icon">  
        </div>  
    </div>
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    