<div class="lightbox6" id="blood">
        <a href="#work" class="lb-close">X</a>
        
        <ul class="lb-nav">
            <li>
                <a href="#ikea" class="lb-back"><</a>
             </li>
            <li>
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li>
            <a href="#motion" class="lb-next">></a>
            </li> 
        </ul>
            
    <div class="container">
        
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        
    </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic51"></div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic52"></div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic53"></div>
         </div>
        
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic54"></div>
     </div>
        
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic55"></div>
    </div>
     
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="shoot-info">
            <h1>Seemless Motion Gif</h1>
            <h2>Concept</h2>
            <p>
                The concept behind this design was to create a 3 second motion piece that would be made into a seemless looping gif for 9squares website.There was a choice of 4 colour pallettes.
            
            </p>  
             
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
 <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ai.svg" class="social-icon">  
        </div>  
    </div>
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    