<div class="lightbox9" id="iphone">
    
  <a href="#work" class="lb-close pink">X</a>
        
        <ul class="lb-nav">
            <li class="pink">
                <a href="#vn" class="lb-back"><</a>
             </li>
            <li class="pink">
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li class="pink">
            <a href="#izze" class="lb-next">></a>
            </li> 
        </ul>
    
<div class="container">
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/iphone-case-mockup.jpg" class="pic"  alt="yellow lips case">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/lipspattern.jpg" class="pic"  alt="lips tongue pattern">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/iphone-case-mockup2.jpg" class="pic"   alt="pink lips case">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/pick.jpg" class="pic"   alt="pickle pattern">
            </div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/donutpattern.jpg" class="pic"   alt="donut pattern">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/driplippattern.jpg" class="pic"   alt="dripping lip pattern">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/miley.jpg" class="pic"   alt="miley pattern">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/mileycase.jpg" class="pic"   alt="miley case">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/bodies.jpg" class="pic"   alt="gaga pattern">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/iphone-case-mockup3.jpg" class="pic"  alt="gaga case ">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/robot2.jpg" class="pic"   alt="robot drawing">
            </div>
        </div>
        
         <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
            <div class="lb-pics">
                <img src="images/robot.jpg" class="pic"   alt="robot case">
            </div>
        </div>
     
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="proj-info">
         <h1>Colored Pencil Patterns</h1>
            <h2>Objective</h2>
            <p>
              Create a captivating Iphone case.
            </p> 
            
             <h2>Concept</h2>
            <p>
              I created these designs by drawing with coloured pencils and creating a highly realistic, colourful drawing. I then scanned the drawing and made it into a pattern for an Iphone case, notebook, print design and more. I love patterns. 
            </p> 
                         
            </div>

        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ps.svg" class="social-icon" alt="photoshop icon">  
            <img src="images/icon-id.svg" class="social-icon" alt="indesign icon">  
        </div>  
    </div>          
    </div>

</div>
     {% include footer.html %}      
    </div>
    
    