<div class="lightbox3" id="summertime">
        <a href="#work" class="lb-close">X</a>
        
        <ul class="lb-nav">
            <li>
                <a href="#smoque" class="lb-back"><</a>
             </li>
            <li>
                <a href="#work" class="lb-work"><p>menu</p></a>
            </li>
            <li>
            <a href="#animal" class="lb-next">></a>
            </li> 
        </ul>
            
    <div class="container">
        
    <div class="grid">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic13"></div>
    </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic14"></div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic15"></div>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic16"></div>
         </div>
        
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic17"></div>
     </div>
        
    <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3 unit-xl-1-3">
        <div class="pic18"></div>
    </div>
     
       
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
        <div class="shoot-info">
            <h1>Summertime Sadness T-Shirt Design</h1>
            <h2>Concept</h2>
            <p>
                The concept behind this design was to target the secondary market and generate more sales for the company. The younger audience was somehow being missed and this campaign has an eye-catching design sure to target the secondary target audience. 
            
            </p>  
             
               
            
            
            </div>
                
     </div>
                
                

                
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
        
  <div class="tools">
        <div class="tools-buttons">    
            <h2>Tools Used</h2>
            <img src="images/icon-ai.svg" class="social-icon">
            
        </div>  
    </div>
                
                
                
    </div>
     </div>            
    </div>
 {% include footer.html %}      
</div>
    
    