                
<header id="header" role="header" id="top" class="banner">
        
    <input type="checkbox" class="nav-check" id="nav-check">
	   <label class="nav-label" for="nav-check">
            <img src="images/ham.svg" alt="hamburger button" class="ham">
           <img src="images/ham-hover.svg" alt="hamburger hover" class="ham-hover">
            <img src="images/x.svg" alt="x" class="x">
        </label>
    
   <div class="top-logo">
            <img src="images/syd-logo.svg" class="nav-syd-logo">
                                                               </div>
    

    <nav class="nav" role="navigation" id="nav">    
            <ul>    
                <li class="top-nav-li">
                    <a href="#work"><hotpink>//</hotpink>Work</a>
                </li>
                
               <li class="top-nav-li">
                    <a href="#about"><hotpink>//</hotpink>About</a>
                </li>
                
                <li class="top-nav-li">
                    <a href="#contact"><hotpink>//</hotpink>Contact</a>
                </li>
           
            </ul>
	</nav>
</header>
    
    
    <div class="desktop-nav"> 
                
        <div class="top-logo">
            <img src="images/syd-logo.svg" class="small-syd-logo">
        </div>
        
            <ul class="nav2">
                <li class="nav-li">
                    <a href="#work"><hotpink>//</hotpink>Work</a>
                </li>
                    
                <li class="nav-li">
                    <a href="#about"><hotpink>//</hotpink>About</a>
                </li>
                    
                <li class="nav-li">
                    <a href="#contact"><hotpink>//</hotpink>Contact</a>
                </li>
            
              
            </ul>
        
    </div>
           


    
