 <div class="work-page jump-spacer-wrap">
<div class="jump-spacer" id="work"></div>
    
    <div class="container">
        
        <h1>Work.</h1>
    
        
        
    <div class="grid">
        
        <div class="box1 unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            
             <a href="#izze">
            <div class="work opacity grayscale">
              
                
               
            <div class="scene-1-1">
                
            </div>
            
            <div class="scene-1-2">
                
            </div>
            
            <div class="scene-1-3">
              
            </div>
            
            <div class="scene-1-4">
                 
            </div>
                     
            </div>
                </a>
       
              
        </div>
                
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#smoque">
            <div class="work opacity grayscale">
               
               
            <div class="scene-3-1">
            </div>
            
            <div class="scene-3-2">
            </div>
            
            <div class="scene-3-3">
            </div>
            
            <div class="scene-3-4">
            </div>
            </div>
              </a>
        </div>
        

           <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
            <a href="#summertime">
        <div class="work opacity grayscale">
               
                
            <div class="scene-2-1">
            </div>
            
            <div class="scene-2-2">
            </div>
            
            <div class="scene-2-3">
            </div>
            
            <div class="scene-2-4">
            </div>
                
        </div>
                </a>
              
        </div>
                    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#blood">
            <div class="work opacity grayscale">
               
             
            <div class="scene-7-1">
            </div>
            
            <div class="scene-7-2">
            </div>
            
            <div class="scene-7-3">
            </div>
            
            <div class="scene-7-4">
            </div>
            </div>
              </a>
        </div>
        
    


         
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#madbean">
            <div class="work opacity grayscale">
               
             
            <div class="scene-5-1">
            </div>
            
            <div class="scene-5-2">
            </div>
            
            <div class="scene-5-3">
            </div>
            
            <div class="scene-5-4">
            </div>
            </div>
              </a>
        </div>
        
            <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#ikea">
            <div class="work opacity grayscale">
               
             
            <div class="scene-6-1">
            </div>
            
            <div class="scene-6-2">
            </div>
            
            <div class="scene-6-3">
            </div>
            
            <div class="scene-6-4">
            </div>
            </div>
              </a>
        </div>
        
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#animal">
            <div class="work opacity grayscale">
               
             
            <div class="scene-4-1">
            </div>
            
            <div class="scene-4-2">
            </div>
            
            <div class="scene-4-3">
            </div>
            
            <div class="scene-4-4">
            </div>
            </div>
              </a>
        </div>
    
        
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#vn">
            <div class="work opacity grayscale">
               
             
            <div class="scene-8-1">
            </div>
            
            <div class="scene-8-2">
            </div>
            
            <div class="scene-8-3">
            </div>
            
            <div class="scene-8-4">
            </div>
            </div>
              </a>
        </div>
        
         
        <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2 unit-xl-1-2">
                <a href="#iphone">
            <div class="work opacity grayscale">
               
             
            <div class="scene-9-1">
            </div>
            
            <div class="scene-9-2">
            </div>
            
            <div class="scene-9-3">
            </div>
            
            <div class="scene-9-4">
            </div>
            </div>
              </a>
        </div>
    
        
     </div>   
      
     

    </div>
    
    </div>
    