<!DOCTYPE html>
<html lang="en-ca">
    <head>
        <meta charset="utf-8">
        <title>The Portfolio</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    </head>
    
<body>
    
    {% include skip-links.html %}
	{% include nav.html %}
    
	{% include lightbox.html %}
    {% include lightbox2.html %}
    {% include lightbox3.html %}
    {% include lightbox4.html %}
    {% include lightbox5.html %}
    {% include lightbox6.html %}
    {% include lightbox7.html %}
    {% include lightbox8.html %}
    {% include lightbox9.html %}


		<div class="main" id="main">
            
            {{ content }}

		</div>

		{% include footer.html %}


      
</body>
</html>